#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        wp_down: wp_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(J))>;
            label = "WP_DOWN";
        };

        wp_up: wp_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(K))>;
            label = "WP_UP";
        };
    };
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC           &kp N1  &kp N2  &kp N3        &kp N4        &kp N5                               &kp N6         &kp N7         &kp N8     &kp N9   &kp N0    &kp DELETE
&kp TAB           &kp Q   &kp W   &kp E         &kp R         &kp T                                &kp Y          &kp U          &kp I      &kp O    &kp P     &kp EQUAL
&kp LEFT_CONTROL  &kp A   &kp S   &kp D         &lt 1 F       &kp G                                &kp H          &kp J          &kp K      &kp L    &kp SEMI  &kp MINUS
&kp LEFT_SHIFT    &kp Z   &kp X   &kp C         &kp V         &kp B          &wp_down    &wp_up    &kp N          &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                                  &kp CAPSLOCK  &kp LALT      &kp BSPC       &kp SPACE   &lt 2 RET &kp RGUI       &kp RALT       &kp GLOBE
            >;
        };

        symbols_layer {

            bindings = <
&trans  &trans  &kp F1  &kp F2  &kp F4  &kp F5                    &kp F6           &kp F7    &kp F8             &kp F9    &kp F10        &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp AT           &kp LBKT  &kp DOUBLE_QUOTES  &kp RBKT  &kp AMPS       &kp DOLLAR
&trans  &trans  &trans  &trans  &trans  &trans                    &kp HASH         &kp LPAR  &kp SQT            &kp RPAR  &kp CARET      &kp GRAVE
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp EXCLAMATION  &kp LBRC  &kp ASTERISK       &kp RBRC  &kp BACKSLASH  &kp PERCENT
                        &trans  &trans  &trans  &trans    &trans  &trans           &trans    &trans
            >;
        };

        numbers_layer {

            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                            &kp F7    &kp F8    &kp F9        &kp F10          &kp F11  &kp F12
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans                            &trans    &trans    &kp UP_ARROW  &trans           &trans   &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &kp N0                            &kp HOME  &kp LEFT  &kp DOWN      &kp RIGHT_ARROW  &kp END  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans  &bt BT_NXT    &bt BT_NXT  &trans    &trans    &trans        &trans           &trans   &trans
                        &trans  &trans  &trans  &trans        &trans      &trans    &trans    &bt BT_CLR
            >;
        };
    };
};
